@charset "utf-8";
/* 약관 동의 CSS */

/* 약관 동의 영역 시작 */
#agreementArea {
  width: 320px;
  min-height: 480px;
  margin: 50px auto;
}
#agreementArea h2 {
  text-align: center;
  margin-bottom: 50px;
}
#agreementContainer {
  display: block;
  width: 320px;
  height: auto;
}
#agreementContainer p {
  margin-bottom: 25px;
  padding-left: 30px;
}
#agreementContainer p:first-of-type label {
  cursor: pointer;
}
#agreementContainer input[type="checkbox"] {
  transform: scale(1.5);
  cursor: pointer;
  margin-right: 15px;
  position: relative;
  top: 3px;
}
#agreementContainer p a {
  text-decoration: underline;
  color: #666;
}
#agreementContainer p.allCheck label {
  font-weight: bold;
}
#agreementContainer p span.nessText {
  color: red;
}
#btnAgreement {
  width: 280px;
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  font-weight: bold;
  background: #7b92d3;
  border-radius: 5px;
  display: none;
  cursor: pointer;
  border: 1px solid #ccc;
}
#btnAreement:active {
  border: 1px solid black;
}
