/* 공통부분 CSS */
@charset "utf-8";

/* 콘텐츠 영역 시작 */
/* 비주얼 콘텐츠 영역 시작 */
#visualContents {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
#visualContents img {
  width: 1000px;
  display: block;
  margin: 0 auto;
}
#visualContents p {
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  text-align: right;
}
/* 스포츠 콘텐츠 영역 시작 */
#sportsContainer {
  width: 1200px;
  display: flex;
  flex-direction: row;
}
#sportsContainer div.visualImg {
  margin: 0;
  padding: 20px 0;
  display: inline-block;
  width: 25%;
  position: relative;
  height: 250px;
  text-align: center;
  cursor: pointer;
}
.boxing img:first-child {
  width: 200px;
  height: 200px;
}
.boxing img:nth-of-type(2) {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 100px;
  top: 20px;
}
.swimming img:first-child {
  width: 250px;
  height: 250px;
}
.swimming img:nth-of-type(2) {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 70px;
  top: 115px;
}
.climing img:first-child {
  width: 200px;
  height: 200px;
}
.climing img:nth-child(2) {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 85px;
  top: 130px;
}
/* .climing img:last-child {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 110px;
  top: 10px;
} */
.pilates img {
  width: 200px;
  height: 200px;
}
#sportsContainer p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.3em;
}
#sportsContainer .swimming p {
  margin-top: -45px;
}

/* 신청 콘텐츠 영역 */
#applicationContents {
  margin-top: 30px;
}
#applicationContents ul {
  text-align: center;
}
#applicationContents ul li {
  display: inline-block;
}
#applicationContents ul li:first-of-type {
  margin-right: 180px;
}

#applicationContents ul li a {
  position: relative;
  z-index: 5;
}
#applicationContents ul li img {
  width: 500px;
  height: 250px;
}
#applicationContents p {
  display: inline-block;
  padding: 10px 15px;
  width: 200px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 10;
}

/* 이벤트 콘텐츠 영역 시작 */
#eventContents {
  margin-top: 50px;
  /* padding: 20px; */
}
#eventContents h2 {
  padding-left: 35px;
  margin-bottom: 35px;
}
#eventContents img {
  width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto;
}

/* 다운로드 콘텐츠 영역 시작 */
#downloadContents {
  margin-top: 50px;
  height: 350px;
  /* background: url(images/banner_img.jpg); */
  /* opacity: 0.5; */
  /* position: relative; */
  text-align: center;
  /* overflow: hidden; */
}
#downloadContents > img {
  /* opacity: 0.5; */
  width: 100%;
}
#downloadContents > p {
  font-size: 1.5em;
  text-align: center;
  margin-top: -230px;
  margin-bottom: 30px;
}
#downloadContents div a:first-of-type {
  margin-right: 25px;
}
#downloadContents div a:last-of-type {
  margin-left: 25px;
}

/* 공지사항 콘텐츠 영역 시작 */
#noticeContents {
  margin-top: 50px;
}
#noticeContents h2 {
  padding-left: 35px;
  margin-bottom: 30px;
}
#noticeContents > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.notice {
  width: 400px;
}
.notice li {
  margin-bottom: 10px;
}
.notice ul a {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice ul a::before {
  content: "·";
  color: #666;
  padding: 0 10px;
}
.notice time {
  float: right;
  color: #7a7a7a;
  padding-right: 10px;
}
.banner {
  width: 250px;
  overflow: hidden;
}
.bannerContainer {
  width: 750px;
  height: 250px;
  transition: all 0.5s;
}
.bannerImg {
  width: 250px;
  height: 250px;
  float: left;
}
.banner img {
  width: 250px;
  height: 250px;
}
.imgBtns {
  margin-left: 160px;
  position: relative;
}
.imgBtns button {
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 9px;
  padding-right: 9px;
  text-indent: -999px;
  position: relative;
  top: -250px;
  right: -20px;
  background: rgba(0, 0, 0, 0.4);
}
